{
    "Index": {
        "Background": "Build"
    },
    "Completion": {
        "AllScopes": true
    },
    "InlayHints": {
        "BlockEnd": "Yes",
        "Designators": "Yes",
        "Enabled": "Yes",
        "ParameterNames": "Yes",
        "DeducedTypes": "Yes",
        "TypeNameLimit": 0
    },
    "Hover": {
        "ShowAKA": "Yes"
    },
    "Diagnostics": {
        "UnusedIncludes": "Strict",
        "MissingIncludes": "Strict",
        "ClangTidy": {
            "Add": [
                "boost-*",
                "bugprone-*",
                "cert-*",
                "clang-analyzer-*",
                "concurrency-*",
                "cppcoreguidelines-*",
                "google-*",
                "hicpp-*",
                "llvm-*",
                "misc-*",
                "modernize-*",
                "performance-*",
                "portability-*",
                "readability-*"
            ],
            "Remove": [
                "bugprone-narrowing-conversions",
                "bugprone-easily-swappable-parameters",
                "cppcoreguidelines-avoid-magic-numbers",
                "cppcoreguidelines-narrowing-conversions",
                "cppcoreguidelines-pro-bounds-array-to-pointer-decay",
                "google-build-using-namespace",
                "hicpp-no-array-decay",
                "misc-non-private-member-variables-in-classes",
                "readability-identifier-length",
                "readability-magic-numbers"
            ],
            "FastCheckFilter": "Strict"
        }
    }
}